@import "./src/styles.scss";

h1 {
  @include typography-h1;
  max-width: 70px;
  margin: auto;
  margin-bottom: 1rem;
  color: $white;
}

h2 {
  @include typography-h2;
  margin: 0 auto 0 auto;
  color: $black;
  padding-bottom: 20px;
}

p {
  @include typography-p;
  color: $black;
}

.card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  margin-top: 10%;

  @include media-tablet() {
    flex-direction: column;
  }

  @include media-mobile() {
    flex-direction: column;
  }

  .card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 24px;
    gap: 32px;
    width: 50%;
    height: 250px;
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;

    @include media-tablet() {
      //tamaño de tablet
    }
    @include media-mobile() {
      //tamaño de celular
    }
  }
}
