@import "./src/styles.scss";

button {
  display: flex;
  padding: 12px;
  @include typography-p;
  border-radius: 10px;
  margin: 5px;
  color: $white;
}

.outline {
  background-color: transparent;
  border: none;
}

.outline:hover {
  color: $black;
  background-color: $pink;
  border-color: $redish;
  box-shadow: none;
}

.dark {
  background-color: $red;
  color: $white;
  border: solid 2px $red;
}

.dark:hover {
  color: $black;
  background-color: $pink;
  border-color: $dustyWhite;
  box-shadow: none;
}

.light {
  color: $black;
  background-color: $white;
  border: solid 2px $white;
}

.light:hover {
  color: $white;
  background-color: $redish;
}