/***************************** BREAKPOINTS *********************************/

$mobile: 375px;
$tablet: 768px;
$desktop: 1024px;

@mixin media-mobile() {
  @media (max-width: ($tablet)) {
    @content;
  }
}

@mixin media-tablet() {
  @media (max-width: ($desktop)) and (min-width: ($tablet)) {
    @content;
  }
}

/***************************** TYPOGRAPHY *********************************/

@mixin typography-h1() {
  font-size: 48px;
  font-weight: 700;
  @include media-tablet() {
    font-size: 32px;
  }
  @include media-mobile() {
    font-size: 24px;
  }
}

@mixin typography-h2() {
  font-size: 32px;
  font-weight: 600;
  @include media-tablet() {
    font-size: 24px;
  }
  @include media-mobile() {
    font-size: 20px;
  }
}

@mixin typography-h3() {
  font-size: 24px;
  font-weight: 700;
  @include media-tablet() {
    font-size: 20px;
  }
  @include media-mobile() {
    font-size: 18px;
  }
}

@mixin typography-h4() {
  font-size: 18px;
  font-weight: 800;
  @include media-tablet() {
    font-size: 16px;
  }
  @include media-mobile() {
    font-size: 14px;
  }
}

@mixin typography-p() {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.01em;
  @include media-tablet() {
    font-size: 14px;
  }
  @include media-mobile() {
    font-size: 12px;
  }
}

/************************** VARS ******************************/

$red: #e01522;
$redish: #f08a91;
$purplish: #b4747f;
$pink: #f8c5c8;
$white: #ffffff;
$skyblue1: #cdeae5;
$skyblue3: #8098a4;
$dustyWhite: #6fb9e4ea;
$blue1: #438bb8b0;
$blue2: #336683;
$blue3: #003049;
$black: #000000;
$dustyWhite: #6fb9e4ea;
$blue1: #438bb8b0;
$blue2: #336683;
$blue3: #003049;

/********************************************************/
html,
body {
  height: 100%;
  cursor: url("./favicon.ico"), auto;
}

nav {
  background-color: $blue3;
}

body {
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  box-sizing: border-box;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
  color: $white;
}

p,
a {
  margin: 0;
  color: $white;
  cursor: url("./favicon.ico"), auto;
}

a:hover {
  text-decoration: underline;
}

button {
  cursor: url("./favicon.ico"), auto;
}

.spacer {
  flex: 1;
}